version: '3.8'
services:
  mysql:
    image: mysql:9.1
    container_name: mysql-server
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: easycontainer
      MYSQL_USER: easy
      MYSQL_PASSWORD: yourpassword
      TZ: Asia/Shanghai
    ports:
      - 3306:3306
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./mysql_config:/etc/mysql/conf.d
      - ./mysql_dump:/data/mysqldump